.color-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .color-option {
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
  }

  .input-title{
    width:"70%";
    border-radius: 5px;
    border:.5px solid rgb(204, 202, 202)
  }

  .border{
    border: .5px solid black;
  }

  .color-option.selected{
    border-color: black;
  }