<div style="padding: 20px">
  <h1 mat-dialog-title>Design your card</h1>
  <div
    mat-dialog-content
    style="display: flex; flex-direction: column; row-gap: 20px"
  >
    Pick your color
    <div class="color-options">
      <div
        *ngFor="let colorName of colors"
        class="color-option"
        [style.background-color]="colorName"
        (click)="selectColor(colorName)"
        [style.border]="colorName === color ? '2px solid gray' : null"
      ></div>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Add yout Title</mat-label>
      <input matInput [(ngModel)]="value" />
    </mat-form-field>
  </div>
  <div
    mat-dialog-actions
    style="display: flex; column-gap: 20px; padding-left: 20px"
  >
    <button mat-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="onOkClick()">
      create
    </button>
  </div>
</div>
