<div *ngIf="trelloBoolean" class="add-trello">
  <mat-form-field class="example-full-width" [formGroup]="formData"
    ><mat-label>{{ title }}</mat-label>
    <input matInput formControlName="trello"
  /></mat-form-field>
  <p
    *ngIf="formData.get('trello')?.invalid && formData.get('trello')?.touched"
    style="color: red"
  >
    Trello is required
  </p>

  <button
    (click)="addInput(title)"
    *ngIf="formData.get('trello')"
    mat-raised-button
    color="primary"
    class="addTrelloButton"
    type="submit"
  >
    Add
  </button>
</div>
