<div class="boards-container">
  <div class="starred-container">
    <h2 class="starred-para">Starred Boards</h2>
    <div
      *ngIf="starredTrello.length < 1"
      style="display: flex; justify-content: center"
    >
      <mat-spinner class="mat-spinner" [diameter]="40"></mat-spinner>
    </div>
    <div *ngIf="starredTrello.length > 0">
      <div class="starred" *ngFor="let card of starredTrello">
        <mat-card
          class="example-card"
          [ngStyle]="setStyle(card)"
          (click)="navigateHandler(card)"
        >
          <p class="card-heading">
            {{ card.name }}
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="your-boards-container">
  <div class="yours-container">
    <h2 class="starred-para">Your Boards</h2>
    <div
      *ngIf="yourTrello.length < 1"
      style="display: flex; justify-content: center"
    >
      <mat-spinner class="mat-spinner" [diameter]="40"></mat-spinner>
    </div>
    <div>
      <div class="your-card">
        <mat-card
          class="example-card"
          *ngFor="let card of yourTrello"
          [ngStyle]="setStyle(card)"
          (click)="navigateHandler(card)"
        >
          <p class="card-heading">
            {{ card.name }}
          </p>
        </mat-card>

        <mat-card
          class="example-card"
          *ngIf="yourTrello.length > 0"
          (click)="openDialog()"
        >
          <p class="add-card" style="color: black">+ Add your Card</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
