.example-spacer {
    flex: 1 1 auto;
  }

  .boards-container{
    display: flex;
    justify-content: center;
  }
  .your-boards-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .grid{
    background-color: green;
  }
.starred-container{
  width: 80%;
  margin-top: 30px;
}
.yours-container{
  width: 80%;
  margin-top: 30px;
}
  .starred-para{
    width:"80%";
    text-align: left;
  }
  .starred{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  .example-card{
    width:200px;
    height:200px;
    padding: 10px;
    background-size: cover;
      background-position: center;
      background-repeat:no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0;
      
    /* background-image: board.prefs.backgroundImage; */
  }

  .card-heading{
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  .your-card{
    display: flex;
    flex-wrap: wrap;
column-gap: 20px;
row-gap: 20px;
  }

  .add-card{
    font-size: 18px;
  }