<p>
  <mat-toolbar color="primary" class="toolBar">
    <div class="menu-heading">
      <fa-icon
        [icon]="faHome"
        style="cursor: pointer; font-size: 23px"
        (click)="homeNavigation()"
      ></fa-icon>

      <span>Angular Trello</span>
    </div>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
