.particular-trello-card{
    background-color: rgb(209, 207, 207);
    opacity: .9;
    padding: 20px;
    min-width: 250px;
    max-width: 300px;
    color: white;
   border-radius: 10px;
}

.add-para{
    font-size: 20px;    
    color: white;
}
.add-new-trello{
    background-color: rgb(209, 207, 207);
    padding: 20px;
    border-radius: 10px;
    opacity: .9;
    width: 250px;
}

.total-trello-particular{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.add-trello{
    display: flex;
    flex-direction: column;
}

.task-div{
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.headingBoard-div{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: white;
   color: black;
  margin-bottom: 20px;
  border-radius: 10px;
}
