<h1 style="text-align: center">Tasks to Do</h1>
<div class="total-trello-particular">
  <div
    *ngFor="let trello of particularTrello"
    class="particular-trello-card"
    id="{{ trello.id }}"
  >
    <div class="headingBoard-div">
      <h1 style="margin: 0">{{ trello.name }}</h1>
      <div (click)="deleteApi(trello.id)">
        <fa-icon
          [icon]="faTrash"
          style="cursor: pointer; font-size: 23px; color: #69f0ae"
        ></fa-icon>
      </div>
    </div>

    <div *ngIf="loading" style="display: flex; justify-content: center">
      <mat-spinner class="mat-spinner" [diameter]="40"></mat-spinner>
    </div>
    <div *ngFor="let listItem of keyList">
      <div *ngIf="listItem == trello.id">
        <div *ngFor="let keyId of boardList[listItem]">
          <div class="task-div" *ngIf="keyId.id !== keyid">
            <p style="font-size: 18px; margin: 0">{{ keyId.name }}</p>
            <div (click)="editTask(keyId.id, keyId.name)">
              <fa-icon
                id="{{ keyId.id }}"
                [icon]="faEdit"
                style="cursor: pointer; font-size: 23px; color: black"
              ></fa-icon>
            </div>
          </div>

          <div *ngIf="isEditing && keyid === keyId.id" id="{{ keyId.id }}">
            <mat-form-field class="example-full-width" [formGroup]="editDelete"
              ><mat-label>Edit</mat-label>
              <input matInput formControlName="value"
            /></mat-form-field>
            <div>
              <button
                mat-raised-button
                color="primary"
                style="margin: 10px"
                (click)="saveTasks(keyId.id)"
              >
                Save
              </button>
              <button
                mat-raised-button
                color="warn"
                style="margin: 10px"
                (click)="deleteTasks(keyId.id, listItem)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="addTrelloBoolean('existing', trello.id)"
      mat-raised-button
      color="accent"
      style="cursor: pointer; margin-top: 20px; margin-bottom: 20px"
    >
      Add
    </button>

    <app-create-task
      *ngIf="toBeOpened === 'existing' && trello.id === inputId"
      id="{{ trello.id }}"
      [toBeOpened]="toBeOpened"
      [trelloBoolean]="trelloBoolean"
      (onDatePicked)="addToApi($event)"
      (onTaskAdded)="addToTasks($event)"
      [title]="'your Task'"
    ></app-create-task>
  </div>
  <div class="add-new-trello">
    <button
      (click)="addTrelloBoolean('new')"
      mat-raised-button
      color="accent"
      style="cursor: pointer; margin-top: 20px; margin-bottom: 20px"
    >
      Add New
    </button>

    <hr />
    <app-create-task
      *ngIf="toBeOpened === 'new'"
      [toBeOpened]="toBeOpened"
      [trelloBoolean]="trelloBoolean"
      (onDatapicked)="addToApi($event)"
      [title]="'Add New Trello'"
    ></app-create-task>
  </div>
</div>
